<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- name of the connection string to the azure sql database server. The database parameter must be set to {0} to allow to connect to each database -->
    <add key="Sql.ConnectionStringName" value="master"/>
    
    <!-- InfluxDB informations -->
    <add key="InfluxDb.Url" value="http://localhost:8086"/>
    <add key="InfluxDb.Login" value=""/>
    <add key="InfluxDb.Password" value=""/>
    <add key="InfluxDb.Database" value="sql_azure"/>

    <!-- Name of measures where to store detailed and global metrics -->
    <add key="InfluxDb.Measure.DatabaseResourceStats" value="db_resource_stats"/>
    <add key="InfluxDb.Measure.ResourceStats" value="resource_stats"/>

    <!-- Setting to write log messages to disk, empty to disabled file logging. Accepts formats compatible with RollingFile sink : https://github.com/serilog/serilog-sinks-rollingfile -->
    <add key="Serilog.FileName" value="AzureSqlDbInfluxPusher-{Date}.log"/>
    
    <!-- Settings to push log messages to Seq,  -->
    <!-- Seq URL, eg http://localhost:5341 -->
    <add key="Serilog.Seq.Url" value=""/>
    <!-- Seq API Key, when required -->
    <add key="Serilog.Seq.ApiKey" value=""/>
  </appSettings>
  
  <connectionStrings>
    <add name="master" connectionString="server=***.database.windows.net;database={0};integrated security=false;user=***;password=***;Application Name=AzureSqlDbInfluxPusher"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>